.top-bar-container {
  display: flex;
  background-color: #344E73;
  .top-bar-container-left{
    width: 256px;
    height: 70px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top-bar-container-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    line-height: 70px;
    padding-right: 30px;
    width: calc(100% - 256px);
    position: relative;
    .top-bar-left {
      width: 30px;
      color: #fff;
      i {
        font-size: 20px;
      }
    }
    .top-bar-right {
      width: 70px;
      color: #fff;
      margin-left: 15px;
    }
    .scale-btn {
      width: 70px;
      height: 70px;
      background-color: #3C5782;
      color: #fff;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      cursor: pointer;
    }
  }
}