.top-bar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #344E73;
  height: 70px;
  line-height: 70px;
  padding-right: 30px;
  position: relative;
  .top-bar-left {
    width: 30px;
    color: #fff;
    i {
      font-size: 20px;
    }
  }
  .top-bar-right {
    width: 70px;
    color: #fff;
    margin-left: 15px;
  }
  .scale-btn {
    width: 70px;
    height: 70px;
    background-color: #3C5782;
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    cursor: pointer;
  }
}